@import '/css/elementos.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(255, 255, 255);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 1em);
    height: auto;
    flex-direction: column;
}
#elemento{
    width: 150px;
    height: 150px;
    background: rgb(255 255 255);
    border: 1px solid black;
    position: absolute;
    right: 10%;
    margin-top: 1rem;
}
.tabla-periodica{
    width: 98%;
    height: auto;
    background: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(10, 1fr);
    padding: 1em 0em 1em 1em;
    position: absolute;
    top: 20%;
    z-index: -1;
}

.item{
    margin: 1.2px;
    border: 1px solid rgb(190, 190, 190);
    color: rgb(0, 0, 0);
    width: auto;
    height: auto;
    transition: all 0.3s ease;
}
.item:hover{
    opacity: 0.7;
}
.numero{
    text-align: right;
    font-size: 0.8rem;
}
.grupo{
    font-size: 1.3rem;
}
.letra{
    text-align: center;
    font-size: 0.8rem;
}
.peso{
    font-size: 0.68rem;
    text-align: right;
}

/*colores por elemento*/
.No_metal{
    background: #8CED8C;
}
.Gaseoso{
    background: #E5BDE5;
}
.Alcalino{
    background: #eace5d;
}
.Alcalinoterreo{
    background: #F1F165;
}
.Metal_de_transición{
    background: #F4CDCD;
}
.Semimetal{
    background: #9EE5D4;
}
.Metal_de_bloque{
    background: #ACDFEC;
}
.Desconocido{
    background: #EEEEEE;
}

.Lantánido{
    background: #F6D4A2;
}
.Actínido{
    background: #FACCDB;
}




/*elementoCuadro*/
.numeroElemento{
    text-align: right;
    font-size: 1.5rem;
    padding-top: 0.2em;
    padding-right: 0.5em;
}
.letraElemento{
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
}
.nombreElemento{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 900;
}
.pesoElemento{
    margin-top: 0.5rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}